
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .page-1{
        text-align:justify;
    }
</style>

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-bold text-dark">About OCOP </h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="/home/index">Home</a></li>
                    <li class="active">About OCOP</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container pt-3 pb-2">
    <div class="row pt-2">
        <div class="col-lg-12 order-1 order-lg-2 page-1">
            <p>
                Most of the cities and towns are now growing both vertically and horizontally. Despite on best efforts, the municipal bodies have not been able to cope with maintaining the sewage infrastructure, mostly due to ageing assets and poor maintenance. The long term O&M contracts in One City One Operator model would establish new bench mark for system maintenance and effluent treatment standards. The new bench mark in-turn invites professional companies to manage these infrastructure assets.
            </p>

            <p>
                The professional players will bring in expertise, innovative technologies and other new competencies to increase efficiency, optimize plant performances and thus ensure reliable operations and long term success. Professional players also would be the best partners for future technology and plant upgrades to conform to the latest standards.
            </p>
            <p>Over the years, municipal assets,namely small to very large STPs have been managed by private and professional companies but not the collection system or the associated network. Now, combining management of both the network and STP will ensure single point accountability and result in stable operations and ensure reliability of the sewage infrastructure system as a whole. </p>
            <p>
                In order to ensure prompt replacement of defunct or obsolete equipment, special funding arrangement is provided for and is called the Major Replacement Fund. This fund is available for both the plant systems and the network / collection system. This fund is to be placed in an escrow account and made available for replacement of major equipment.
            </p>
            <p>Due to growing awareness of water borne diseases these days, there is huge public concern over health and environment hence 24X7 customer care center is mandated in this model, thus propelling the services to several notches higher than what is presently being delivered. It is mandatory that the contractor resolves the problem in 24 hours so the response time to attend to a problem is cut down and ensures customer satisfaction. It is expected that the 24X7 Call Center, Complaint Kiosk and Mobile Apps will be made available by the contractor to be able to meet customer expectations.</p>
            <p>
                Further, with the increased regulation and the pressing need to monitor microbiological contamination in real time, one can envisage that there would be remote monitoring of the treated effluents in particular and the sewage infrastructure as a whole and other new digital operational practices will also be adopted to meet customer expectations over a period of time.
            </p>
            <p>
                In a sense of true partnership, the model also provides for profit sharing for sale of treated effluent or sludge thus enthusing the contractor with the hope of revenue generation. It is also possible that in some of the facilities, power generation is possible through Bio Gas Engines making the facilities power neutral with little or no power being fed from the grid. While the contractors bring innovative technologies, this will provide a huge opportunity to address the ills of manual scavenging with use of robotics and thus ensure increased human safety and reduced down time.
            </p>
            <p>
                Water is an essential input for agriculture and industrial growth and existing conventional water resources are limited and hard-pressed to sustain growth, thus recycle and reuse of waste water, especially of the sewage is well established and can be done at a very low cost and supplied to the local industry and for irrigation purposes.
            </p>
            <h4>VA Tech WABAG chosen to Operate and Maintain two cities in UP:</h4>
            <p>
                In a competitive selection process, VA Tech WABAG was chosen to Operate & Maintain two Zones namely Agra and Ghaziabad. The Ghaziabad zone includes other surrounding towns and cities namely Loni, Anupshahar, Rampur, Meerut, Bijnore, Saharanpur and Muzaffarnagar. Being the largest O&M player in the country in water &waste water segment, prior to take over WABAG was already managing some of the prestigious and widest portfolio of water utility assets in the country. WABAG was managing more than 50 sites spread across India and employs over 1500 strong skilled work force who are trained for O&M activities.
            </p>
            <p>
                WABAG banks on its past experience of One City One Operator and performed a similar contract at Istanbul, Turkey. The city has a population of 16 million and second highest traffic density in the world. In this contract WABAG managed 64 pumping stations, 9 Mechnical Pretreatment Plants and 51 Biological Waste Water Treatment plants, a total of 124 locations through which 7.5 million cu.m of water per day was being treated. VA Tech WABAG had employed over 750 strong work force for O&M activities.
            </p>
            <p>
                Drawing from our experience in Istanbul, WABAG has taken over the assets of Agra and Ghaziabad. The details of the assets are in Table-1.
            </p>
            <p>
                The initial survey suggested there would be a lot of work which had to be done in the initial years that include rejuvenation of certain plants and most of the collection and network systems would require rehabilitation. This is the single most significant challenge faced with. This brings us to a point of discussion about the likely challenges. Despite the pandemic challenges of material and manpower movement, WABAG revamped and rejuvenated the below 4 STPs in record time
            </p>
            <ul>
                <li>74 MLD STP at Indrapuram</li>
                <li>56 MLD STP at Indrapuram</li>
                <li>70 MLD STP Dundahera and</li>
                <li>30 MLD STP at Loni</li>
            </ul>
            <h4>The Challenges:</h4>
            <p>
                Firstly, barring a few STP, most of the assets were old and the engineering documents were not available for the contractor to understand the design data or history, more importantly when it comes to sewage network the documents are not available but for the projects that were completed in recent past. The contractor has an uphill task of surveying almost the entire stretch of the decades old network, and these aged network could be fully choked and cleaning could sometimes be more expensive.
            </p>
            <p>
                Secondly, Agra plant assets and network are within a periphery of 30 kilometers hence managing the city should be fairly easy unlike the Ghaziabad cluster which is wide-spread. The Ghaziabad cluster includes Anupshahar and Rampur on the one end and Meerut and Muzaffarnagar on the other. The travel duration could be as long as three to four hours between one end to the other end of cluster, we intend to have localized command center to serve these constituent towns.
            </p>
            <p>
                Thirdly, the contractor was provided with six months of stabilization during commencement of the contract and it was extremely difficult to get some of the STPs perform at optimum working condition in six months. Adding to the woes, we had to face the COVID -19 pandemic. Despite the challenges created by the pandemic, WABAG Team served the cities like real warriors and kept the systems going during both the first and the second wave. It is also observed that most STPs are not receiving adequate flow and this needs to be addressed and one of the reason is that STP is designed to meet a futuristic flow based on population growth, on the other hand there are certain STP that are over-burdened.
            </p>
            <p>
                To conclude, the One City One Operator in India marks a paradigm shift in the sewage management sector with single point accountability and these contracts will create new bench mark in the industry for treatment standards and will also ensure cleaner and healthier eco systems thus contribute to the rejuvenation of the Ganga and its tributaries.
            </p>
            <div class="row">
                <div class="col-md-12 page-1">
                    <h4 class="text-center">Our Mission</h4>
                    <p> To ensure better co-ordination and improved quality of water, the government plans to have a single operator maintain all sewage treatment plants (STPs) in a city along the Ganga, as part of its efforts to clean the river.</p>
                </div>
            </div>
        </div>
    </div>
</div>
