
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="bg-color-light-scale-2 position-relative border-0 m-0">
    <div class="owl-carousel owl-theme nav-inside" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'dots': true, 'autoplay': true, 'autoplayTimeout': 6000}">
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img class="img-fluid border-radius-0" src="~/img/OCOP-banner-1.jpg" alt="">
            </div>

        </div>
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img class="img-fluid border-radius-0" src="~/img/OCOP-banner-2.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img class="img-fluid border-radius-0" src="~/img/OCOP-banner-3.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img class="img-fluid border-radius-0" src="~/img/OCOP-banner-5.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img class="img-fluid border-radius-0" src="~/img/OCOP-banner-4.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img class="img-fluid border-radius-0" src="~/img/OCOP-banner-6.jpg" alt="">
            </div>
        </div>
         <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img src="~/img/ocop-banner-7.jpg" />
            </div>
        </div>
         <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img src="~/img/ocop-banner-8.jpg" />
            </div>
        </div>
        <div>
            <div class="img-thumbnail border-0 p-0 d-block">
                <img src="~/img/ocop-banner-9.jpg" />
            </div>
        </div>

    </div>
</section>
<section class="leader leader1 ">
    <div class="container">
        <div class="col-12 col-lg-12 leader">
            <div class="linkstitle1 ld-pd-0"><span>Our Leadership</span></div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 newcm">
                    <div class="depdiv">
                        <div class="dep-logo"><img src="~/img/yogi.jpg" alt="Yogi Adityanath" title="Yogi Adityanath"></div>
                        <div class="dep-name">
                            <h3 class="mt-3 mb-2">श्री योगी आदित्यनाथ</h3>
                            <p>
                                माननीय मुख्यमंत्री<br>
                                (उत्तर प्रदेश)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 newcm">
                        <div class="depdiv">
                            <div class="dep-logo"><img width="190" src="~/img/arvind-sharma.jpg" alt="श्री अरविंद कुमार शर्मा" title="श्री अरविंद कुमार शर्मा"></div>
                            <div class="dep-name">
                                <h4 class="mt-3 mb-2">श्री अरविंद कुमार शर्मा</h4>
                                <p>
                                    माननीय नगर विकास मंत्री<br>
                                    (उत्तर प्रदेश)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 newcm">
                        <div class="depdiv">
                            <div class="dep-logo"><img width="200" src="~/img/rakesh.jpg" alt="श्री राकेश राठौर गुरु" title="श्री राकेश राठौर गुरु"></div>
                            <div class="dep-name">
                                <h4>श्री राकेश राठौर गुरु</h4>
                                <p>
                                    माननीय नगर विकास राज्य मंत्री<br>
                                    (उत्तर प्रदेश)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 newcm">
                        <div class="depdiv">
                            <div class="dep-logo"><img width="200" src="~/img/amrit-abhijat.jpg" alt="श्री अमृत अभिजात" title="श्री अमृत अभिजात"></div>
                            <div class="dep-name">
                                <h4>श्री अमृत अभिजात</h4>
                                <p>
                                    प्रमुख सचिव नगर विकास विभाग<br>
                                    (उत्तर प्रदेश)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 newcm">
                        <div class="depdiv">
                            <div class="dep-logo"><img width="200" src="~/img/nitin.jpg" alt="डॉ० नितिन बंसल" title="डॉ० नितिन बंसल"></div>
                            <div class="dep-name">
                                <h4>डॉ० नितिन बंसल</h4>
                                <p>
                                    निदेशक स्थानीय निकाय<br>
                                    (उत्तर प्रदेश)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-height-3 bg-color-light section-no-border mt-lg-0 bgimglight">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                    <div>
                        <img alt="" class="img-fluid" src="~/img/g5.jpg">
                    </div>
                    <div>
                        <img alt="" class="img-fluid" src="~/img/g2.jpg">
                    </div> <div>
                        <img alt="" class="img-fluid" src="~/img/g6.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="overflow-hidden mb-2">
                    <h2 class="text-color-dark font-weight-normal text-6 mb-0 pt-0 mt-0">About <strong class="font-weight-extra-bold">One City One Operator</strong></h2>
                </div>
                <p class="namami-text">
                    Under the Namami Gange program, the new sewage infrastructure created were to be developed on either on Design, Build and Operate (DBO) Model or Hybrid Annuity (HAM) Model and also adopt new technologies. Both these models had an inbuilt long term Operation and Maintenance (O&M) contract for a period of ten to fifteen years. Further, some of the old sewage treatment plants were also to be rehabilitated and upgraded with long term Operation and Maintenance Contracts. Inspired by the idea of long term O&M contracts of Namami Gange projects, the State Ganga River Conservation Authority (SGRCA), Uttar Pradesh (U.P) an agency that coordinates various conservation activities, decided to pursue Long Term Operation and Maintenance (O&M) contracts for the sewage treatment infrastructure of major cities in UP in a unique One City One Operator model. SGRCA mooted this idea as they realized that major cities of UP were plagued with huge sewage infrastructural issues, specifically that of sewage collection system network. The SGRCA decided this contract duration should be a minimum of 10 years with a possible extension of another 5 years and also that the contract scope would include operation and maintenance of the entire sewage network of the city, pumping stations and sewage treatment plants (STP). The STP upon treatment shall discharge the treated effluent as per stipulated norms, thus bringing the entire sewage infrastructure management of the city under one contract.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section leader section-height-3 section-no-border section-center my-5" data-appear-animation="fadeIn">
    <div class="container">
        <div class="tabs tabs-center">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#NewsEvents" data-bs-toggle="tab">News & Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Press-Media" data-bs-toggle="tab">Press Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Video-Gallery" data-bs-toggle="tab">Video Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Photo-Gallery" data-bs-toggle="tab">Photo Gallery</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="NewsEvents" class="tab-pane active">
                    <div class="myTicker3" style="max-height:550px; overflow: hidden">
                        <ul>
                            <li class="align-items-center">
                                <div class="newsGroup">

                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>OCOP</strong>
                                            <img src="~/img/new.gif" alt="New">
                                            <br>
                                            One City One Operator Department, Lucknow, U.P, India. Content on this website is published and managed by Directorate of Urban and Local Bodies Uttar Pradesh.
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                            <li>
                                <div class="newsGroup">

                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>OCOP</strong>
                                            <img src="~/img/new.gif" alt="New">
                                            <br>
                                            One City One Operator Department, Lucknow, U.P, India. Content on this website is published and managed by Directorate of Urban and Local Bodies Uttar Pradesh.
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                            <li>
                                <div class="newsGroup">

                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>OCOP</strong>
                                            <img src="~/img/new.gif" alt="New">
                                            <br>
                                            One City One Operator Department, Lucknow, U.P, India. Content on this website is published and managed by Directorate of Urban and Local Bodies Uttar Pradesh.
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="text-center"> <a href="#-">&nbsp;<i class="fa fa-eye"></i> View All</a> </div>
                </div>
                <div id="Press-Media" class="tab-pane">
                    <div class="myTicker3" style="max-height:550px; overflow: hidden">
                        <ul>
                            <li class="align-items-center">
                                <div class="newsGroup">

                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>New Study Shows OCOP Remedies May Help Ease Chronic Pain</strong>
                                            <img src="~/img/new.gif" alt="New">
                                            <br>
                                            New Study Finds OCOP Effective in Treating Migraines: A recent study published in the Journal of Alternative and Complementary Medicine
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                            <li>
                                <div class="newsGroup">
                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>OCOP Gains Popularity Among Those Seeking Alternative Health Options</strong>
                                            <img src="~/img/new.gif" alt="New">
                                            <br>
                                            The World Health Organization (WHO) has officially recognized homeopathy as a complementary medicine that can be used alongside
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                            <li>
                                <div class="newsGroup">

                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>Experts Debate the Efficacy of OCOP Treatments for Mental Health Conditions</strong>
                                            <img src="~/img/new.gif" alt="New">
                                            Controversy Surrounding OCOP Vaccines: A growing number of people are turning to OCOP remedies for vaccinations, citing concerns about the safety and efficacy of conventional vaccines.
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                            <li>
                                <div class="newsGroup">
                                    <div class="newsDate">22<br /> Mar  <span>2023</span></div>
                                    <div class="newsData">
                                        <a href="#" target="_blank">
                                            <strong>OCOP: A Natural Approach to Boosting Immunity During Cold and Flu Season</strong>
                                            <img src="~/img/new.gif" alt="New">  <br>
                                            A new study has found that OCOP remedies may be effective in reducing symptoms of anxiety in patients.
                                        </a>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="text-center"> <a href="#-">&nbsp;<i class="fa fa-eye"></i> View All</a> </div>
                </div>
                <div id="Video-Gallery" class="tab-pane">
                    <div class="row pb-4">
                        <div class="col">

                            <div class="owl-carousel owl-theme" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'margin': 20, 'nav': true, 'autoplay': false, 'autoplayTimeout': 3000, 'dots': true}">
                                <div>
                                    <iframe width="100%" height="415" src="https://www.youtube.com/embed/H-UmJgzY380" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <div>
                                    <iframe width="100%" height="415" src="https://www.youtube.com/embed/XuPJWJmdVKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="text-center"> <a href="~/home/Event">&nbsp;<i class="fa fa-eye"></i> View All</a> </div>
                </div>
                <div id="Photo-Gallery" class="tab-pane">
                    <div class="row text-center">
                        <div class="owl-carousel owl-theme" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 5}, '1200': {'items': 5}}, 'margin': 20, 'nav': true, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': true}">

                            <div>
                                <img class="img-fluid" src="~/img/g5.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g2.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g6.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g2.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g5.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g6.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g5.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-fluid" src="~/img/g6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center"> <a href="~/home/event">&nbsp;<i class="fa fa-eye"></i> View All</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-12 text-center">
            <h2 class="font-weight-normal text-6 mt-3 mb-5">Quick  <strong class="font-weight-extra-bold">Links</strong></h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="owl-carousel owl-theme" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 8}, '1200': {'items': 8}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/Digital_India.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/data-gov.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/mygov.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/Make_In_India.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/goe-directory.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/pmnrf.png" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/india-gov.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="https://www.indiacode.nic.in/">
                    <img class="img-fluid" src="~/img/indiacode-logo.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
     