
@{
    ViewData["Title"] = "MinistryAndSecretariat";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    td, th {
        padding: 10px;
        border: 1px solid #e4e4e4;
        text-align: left;
        line-height: 145%;
    }

    .table td, .table th {
        border: 1px solid #a19b9b !important;
    }
</style>

   <section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 align-self-center p-static order-2 text-center">
                            <h1 class="font-weight-bold text-dark">Ministry and Secretariat</h1>
                        </div>
                        <div class="col-md-12 align-self-center order-1">
                            <ul class="breadcrumb d-block text-center">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Ministry and Secretariat</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
<div class="container common-container four_content gallery-container" style=" border: solid;border-width: 1px; border-color: #5b5b5b; text-align:center; padding-top: 15px;">
    <div style="text-align: center; width: 100%; content: " ";" ="" class="gallery-area clearfix">
        <div style="text-align: justify; text-justify: inter-word; float:none; ">
            <div class="Section1">

                <div class="table-responsive">
                    <table class="table table-striped bordered" border="2" cellpadding="1">
                        <tbody>
                            <tr>
                                <td colspan="4" width="100%" style="font-size: 18px; font-weight: bold; text-align: center;color: #fff; background-color: #0375bc;">वन सिटी वन ऑपरेटर, उत्तर प्रदेश <br>Website -http://occo.intense.in/</td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">नाम</td>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">पदनाम</td>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">दूरभाष / फैक्स / मोबाइल</td>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">कार्यालय का पता / ई-मेल</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">श्री अरविंद कुमार शर्मा</td>
                                <td style="font-weight: bold;">मा० मंत्री जी</td>
                                <td>0522-2238070, 2213290</td>
                                <td rowspan="2">93-94, मुख्य भवन, लखनऊ<br>minister.ude@up.gov.in</td>
                            </tr>
                            <tr>
                                <td>श्री गेंदा सिंह<br>श्री प्रशान्त कुमार<br>श्री मनीष कुमार</td>
                                <td>निजी सचिव<br>निजी सचिव<br>निजी सचिव</td>
                                <td>9454410053<br>9454410714<br>9454410433</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">श्री राकेश राठौर 'गुरू'</td>
                                <td style="font-weight: bold;">मा० राज्य मंत्री जी</td>
                                <td rowspan="2">0522-2238097, 2214809</td>
                                <td rowspan="2">जी-1/2, बापू भवन, लखनऊ</td>
                            </tr>
                            <tr>
                                <td>श्री राजेन्द्र कुमार</td>
                                <td>निजी सचिव</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">श्री केशव वर्मा</td>
                                <td style="font-weight: bold;">सलाहकार</td>
                                <td>0522-2235295, 2214807</td>
                                <td>आठवां तल, बापू भवन, लखनऊ<br>keshavsvarma@gmail.com</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">श्री अमृत अभिजात</td>
                                <td style="font-weight: bold;">प्रमुख सचिव</td>
                                <td>0522-2214564, 2237799, 2838105 (निदेशालय)</td>
                                <td>601, बापू भवन, लखनऊ<br>acsud.goup@gmail.com, psecup.urbandev@nic.in</td>
                            </tr>
                            <tr>
                                <td>श्री अनिल कुमार यादव<br>श्री राम मिलन पटेल</td>
                                <td>निजी सचिव<br>अपर निजी सचिव</td>
                                <td>0522-2214564, 2237799</td>
                                <td>602, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold;">श्री अजय कुमार शुक्ला</td>
                                <td style="font-weight: bold;">सचिव</td>
                                <td>0522-2238141</td>
                                <td>801, बापू भवन, लखनऊ<br>secyud.up@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री अमित कुमार सिंह</td>
                                <td>विशेष सचिव</td>
                                <td>0522-4060683,</td>
                                <td>707, बापू भवन, लखनऊ<br>jmdnagarupjn@gmail.com</td>
                            </tr>

                            <tr>
                                <td>श्री धर्मेंद्र प्रताप सिंह</td>
                                <td>विशेष सचिव/नोडल अधिकारी, कोर्ट केसेज</td>
                                <td>0522-2237193 </td>
                                <td>123, बापू भवन, लखनऊ<br>dpsinghiasup@gmail.com</td>
                            </tr>
                            <tr>
                                <td>डॅा0 राजेन्द्र पैंसिया</td>
                                <td>विशेष सचिव</td>
                                <td>0522-2214765</td>
                                <td>124, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td>श्री सत्य प्रकाश पटेल</td>
                                <td>विशेष सचिव</td>
                                <td>0522-2238526 </td>
                                <td>832, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td>श्री अनिल कुमार</td>
                                <td>विशेष सचिव</td>
                                <td>0522-2238526, 9454413818</td>
                                <td>509, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td>श्री कल्याण बनर्जी</td>
                                <td>संयुक्त सचिव</td>
                                <td>0522-2214562, 9454411497</td>
                                <td>815, बापू भवन, लखनऊ<br>banerjeek54@gmail.com</td>
                            </tr>

                            <tr>
                                <td>श्री अजय कुमार पाण्डेय</td>
                                <td>संयुक्त सचिव</td>
                                <td>0522-     , 9454411803</td>
                                <td>बापू भवन, लखनऊ<br></td>
                            </tr>

                            <tr>
                                <td>श्री सजीवन</td>
                                <td>उप सचिव</td>
                                <td>9454413781</td>
                                <td>726, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td>श्री मनोज कुमार वर्मा</td>
                                <td>उप सचिव</td>
                                <td>9454413295</td>
                                <td>814, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td>श्री के0पी0 सिंह</td>
                                <td>अनु सचिव</td>
                                <td>9454411436</td>
                                <td>807, बापू भवन, लखनऊ</td>
                            </tr>
                            <tr>
                                <td>श्री मो0 वासिफ</td>
                                <td>अनु सचिव</td>
                                <td>9454412167</td>
                                <td>715, बापू भवन, लखनऊ</td>
                            </tr>
                            <tr>
                                <td>श्री महावीर प्रसाद(बघेल)</td>
                                <td>अनु सचिव/नोडल अधिकारी, मंत्री, नगर विकास, <br>शहरी समग्र विकास, नगरीय रोजगार एवं गरीबी <br>उन्‍मूलन विभाग, उ0प्र0 सरकार</td>
                                <td>0522-2214547, 9454412492</td>
                                <td>830, बापू भवन, लखनऊ</td>
                            </tr>
                            <tr>
                                <td>श्री अरविन्द कुमार गिरि</td>
                                <td>अनु सचिव</td>
                                <td>9454412837</td>
                                <td>305, बापू भवन, लखनऊ</td>
                            </tr>

                            <tr>
                                <td>श्री के0बी0एल0 श्रीवास्तव</td>
                                <td>अनु सचिव/आहरण एवं वितरण अधिकारी/<br>नोडल अधिकारी, मंत्री, नगर विकास, शहरी <br>समग्र विकास, नगरीय रोजगार एवं <br>गरीबी उन्‍मूलन विभाग, उ0प्र0 सरकार</td>
                                <td>0522-2214547</td>
                                <td>830, बापू भवन, लखनऊ<br>kblsrivastava10@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री अखिलेश्वर सिंह (अ0प्र0)</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-1</td>
                                <td>0522-2214618, 9454414051</td>
                                <td>722, बापू भवन, लखनऊ<br>so.nagarvikas1@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री  रवीन्‍द्र सिंह</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-2</td>
                                <td>0522-2214773, 9454413249</td>
                                <td>842, बापू भवन, लखनऊ<br>sonagarvikasec2@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री राजेश  कुमार तिवारी</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-3</td>
                                <td>0522-2214651, 9454413536</td>
                                <td>720, बापू भवन, लखनऊ<br>nagarvikas003@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्रीमती प्रियंका सिंह </td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-4</td>
                                <td>0522-2214767, 9454413909</td>
                                <td>840, बापू भवन, लखनऊ<br>nagarvikas0004@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री अखिलेश्वर सिंह</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-5</td>
                                <td>0522-2214650, 9454414051</td>
                                <td>723, बापू भवन, लखनऊ<br>so.nagar.05@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री अम्वरीश कुमार श्रीवास्तव </td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-6</td>
                                <td>0522-2214656, 9454419927</td>
                                <td>838, बापू भवन, लखनऊ<br>nagarvikassection6@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री बृजेश कुमार जायसवाल</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-7</td>
                                <td>0522-2214768, 9454413695</td>
                                <td>841, बापू भवन, लखनऊ<br>so.nagarvikas@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री अवधेश कुमार यादव</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-8</td>
                                <td>0522-2214757, 9454412627</td>
                                <td>839, बापू भवन, लखनऊ<br>so.nagarvikas8@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री गौरव दूबे</td>
                                <td>अनुभाग अधिकारी<br>नगर विकास अनुभाग-9</td>
                                <td>0522-2214622, 9454410223</td>
                                <td>721, बापू भवन, लखनऊ<br>nagarvikasanubhag9@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री पारसनाथ</td>
                                <td>अनुभाग अधिकारी<br>सूडा</td>
                                <td>0522-2214601, 9454412780</td>
                                <td>738, बापू भवन, लखनऊ<br>urbanemploymentup@gmail.com</td>
                            </tr>
                            <tr>
                                <td>श्री मो0 मोहसिन फारूकी</td>
                                <td>कम्प्यूटर सेल<br>नगर विकास विभाग</td>
                                <td></td>
                                <td>613, बापू भवन, लखनऊ</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


