
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-bold text-dark">News & Events</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="~/home/index">Home</a></li>
                    <li class="active">News & Events</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container pt-3 pb-2">
    <div class="row pt-2">
        <div class="col-lg-12 order-1 order-lg-2 page-1">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><b>Letter No.</b></th>
                            <th class="date"><b>Meeting Date</b></th>
                            <th class="detaildd"><b>Download MoM</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                5590/2/OM&M Cell/2022 - 23
                                <img src="~/img/new.gif" alt="New">
                            </td>
                            <td class="date">14-10-2023</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom dt. 09.pdf">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               538/2/OM & M Cell/2022 - 23
                                <img src="~/img/new.gif" alt="New">
                            </td>
                            <td class="date">28-06-2023</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom-28.06.2023.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                513/2/OM & M Cell/2022 - 23
                                <img src="~/img/new.gif" alt="New">
                            </td>
                            <td class="date">31-03-2023</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom-31.03.2023.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               493/2/OM & M Cell/2022 - 23
                               
                            </td>
                            <td class="date"> 22-02-2023</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom-22.02.2023.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                462/2/OM & M Cell/2022 - 23
                                
                            </td>
                            <td class="date">22-11-2022</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom-22.11.2022.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                441/2/OM & M Cell/2022 - 23

                            </td>
                            <td class="date"> 24-08-2022</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom-24.08.2022.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                376/2/OM & M Cell/2021 - 22
                                
                            </td>
                            <td class="date"> 22-06-2022</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom dt- 22.06.2022.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                334/2/OM & M Cell/2021 - 22
                                
                            </td>
                            <td class="date"> 07-03-2022</td>

                            <td class="detaildd">
                                <a href="~/pdf/mom-07.03.2022.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                291/2/OM & M Cell/2021 - 22

                            </td>
                            <td class="date">14-12-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/mom 14.12.2021.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                241/2/OM & M Cell/2021 - 22

                            </td>
                            <td class="date">26-10-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/11.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                243/2/OM & M Cell/2021 - 22

                            </td>
                            <td class="date">23-10-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/mom dt. 23.10.2021.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                207/2/OM & M Cell/2021 - 22
                                
                            </td>
                            <td class="date">16-08-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/mom-16.08.2021.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DC58002

                            </td>
                            <td class="date">18-05-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/111.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                155/02/OM & M Cell/2021 - 22

                            </td>
                            <td class="date">30-04-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/121.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                117(2)/02/OM & M Cell/2021 - 22

                            </td>
                            <td class="date">02-02-2021</td>
                            <td class="detaildd">
                                <a href="~/pdf/91.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                83/02/OM & M Cell/2020 - 21

                            </td>
                            <td class="date">22-12-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/81.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                70/02/OM & M Cell/2020 - 21

                            </td>
                            <td class="date">02-11-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/71.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                50/02/OM & M Cell/2020 - 21

                            </td>
                            <td class="date">27-08-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/61.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                32/02/OM & M Cell/2020 - 21

                            </td>
                            <td class="date">26-06-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/51.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                22/02/OM & M Cell/2020 - 21

                            </td>
                            <td class="date">20-05-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/41.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                08/02/OM & M /2019 - 20

                            </td>
                            <td class="date">23-03-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/31.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                01/OM & M /Package-4, Lucknow/2019 - 20

                            </td>
                            <td class="date">10-02-2020</td>
                            <td class="detaildd">
                                <a href="~/pdf/21.pdf" target="_blank">
                                    <img width="40" src="~/img/pdf.png">
                                </a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

