
@{
    ViewData["Title"] = "OfficeOfDirectorateOCOP";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    td, th {
        padding: 10px;
        border: 1px solid #e4e4e4;
        text-align: left;
        line-height: 145%;
    }

    .table td, .table th {
        border: 1px solid #a19b9b !important;
    }
</style>

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-bold text-dark">Office of Directorate OCOP</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Office of Directorate OCOP</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container common-container four_content gallery-container" style=" border: solid;border-width: 1px; border-color: #5b5b5b; text-align:center;padding-top: 15px;">
    <div style="text-align: center; width: 100%; content: " ";" ="" class="gallery-area clearfix">
        <div style="text-align: justify; text-justify: inter-word; float:none; ">
            <div class="Section1">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td colspan="4" width="100%" style="font-size: 18px; font-weight: bold; text-align: center; background-color: #036fb230">नगर विकास विभाग के अधीनस्थ कार्यालय</td>
                            </tr>
                            <tr>
                                <td colspan="4" width="100%" style="font-size: 18px; font-weight: bold; text-align: center;color: #fff; background-color: #0375bc;">नगरीय प्रशिक्षण एवं शोध केन्द्र व स्थानीय निकाय निदेशालय, उत्तर प्रदेश<br>सेक्टर-7, गोमती नगर विस्तार, लखनऊ-226002<br>Website : https://localbodies.up.nic.in</td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">नाम</td>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">पदनाम</td>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">दूरभाष / फैक्स / मोबाइल</td>
                                <td style="font-size: 15px; font-weight: bold; text-align: center;">कार्यालय का पता / ई-मेल</td>
                            </tr>
                            <tr>
                                <td>श्री नितिन बंसल</td>
                                <td>निदेशक</td>
                                <td>0522-2838110, 8189077777</td>
                                <td>diruplb@nic.in</td>
                            </tr>
                            <tr>
                                <td>श्रीमती रश्मि सिंह</td>
                                <td>उप निदेशक (प्रशा0)</td>
                                <td>0522-2838112</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>श्री अखिल सिंह</td>
                                <td>सहायक निदेशक (लेखा)</td>
                                <td>0522-2838113,</td>
                                <td>assistantdirectorlekha@gmail.com</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>वित्त एवं लेखाधिकारी</td>
                                <td>0522-2838113,</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>कम्प्यूटर प्रोग्रामर</td>
                                <td>0522-2838130</td>
                                <td>diruplb2012@nic.in</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
