@model OCOO.Models.Login
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_InsAgencyLayout.cshtml";
}

<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor">Change Password</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body pb-0">
                <form asp-action="ChangePassword">
                    <div class="row">
                        <div class="col-md-4"></div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Old Password<span class="text-danger">*</span></label>
                                <input type="text" asp-for="OldPassword" class="form-control" placeholder="Old Password" />
                            </div>

                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">New Password<span class="text-danger">*</span></label>
                                <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" />
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <button class="btn btn-success btn-xs" type="submit" name="BtnChange" onclick="return fvalidate()" value="Change Password"><i class="fa fa-save"></i> Change Password</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    function fvalidate() {

        $(".errortext").removeClass("errortext");
        if ($('#OldPassword').val() == '') {
            $("#OldPassword").addClass('errortext');
            $("#OldPassword").focus()
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $("#NewPassword").focus();
            return false;
        }
        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $("#ConfirmPassword").focus();
            return false;
        }

        if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
            fShowToastalert("New Password And Confirm Password Not Match ")
            return false;
        }
    }
</script>
