
<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Official Website: OCOP Uttar Pradesh Lucknow</title>

    <meta name="keywords" content="OCOP Uttar Pradesh Lucknow" />
    <meta name="description" content="OCOP Uttar Pradesh Lucknow">
    <meta name="author" content="OCOP">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/css/skins/skin-corporate-8.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.min.js"></script>
    <!--bootstrap-->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .marque_news span {
            padding: 0px 10px;
        }

        .counter {
            width: 160px;
            color: #68b74d;
            border-radius: 3px;
            padding: 5px;
            margin-top: 3px;
            font-size: 18px;
            letter-spacing: 9px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            font-weight: 600;
            display: flex;
            justify-content: center;
        }
    </style>

</head>
<body data-plugin-page-transition>
    <div class="body">
        <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 164, 'stickySetTop': '-115px', 'stickyChangeLogo': false}">
            <div class="header-body border-0">
               
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column justify-content-start justify-content-md-left order-1 order-md-2">
                            <div class="header-row">
                                <div class="header-logo">                                  
                                    <a href="javascript:void()">
                                        <img width="250" alt="Logo" src="~/img/OCOP.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end w-50 order-2 order-md-3">
                            <div class="header-row">
                                <div class="header-logo">
                                    <img src="~/img/logo-ocop.png" alt="Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav-bar header-nav-bar-top-border bg-color-primary">
                    <div class="header-container container">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-row justify-content-start">
                                    <div class="header-nav p-0">
                                        <div class="header-nav header-nav-line header-nav-divisor header-nav-spaced">
                                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                                <nav class="collapse">
                                                    <ul class="nav nav-pills flex-column flex-lg-row" id="mainNav">
                                                        <li>
                                                            <a class="dropdown-item active" href="~/home/index">
                                                                Home
                                                            </a>

                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                                About Us
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="~/home/AboutUs">About Us</a></li>
                                                                @* <li><a class="dropdown-item" href="~/home/Directory">Directory</a></li>*@
                                                            </ul>

                                                        </li>
                                                        <li>
                                                            <a href="https://etender.up.nic.in/nicgep/app?component=%24DirectLink&page=FrontEndTendersByOrganisation&service=direct&session=T&sp=SDi1gJjwch%2FJ81C5pLcEgVtS0Fec7wUuNy1YFXyqSerE%3D" target="_blank">
                                                                Tenders
                                                            </a>
                                                        </li>
                                                        @*<li>
                                                        <a href="~/home/News">
                                                        MoM
                                                        </a>
                                                        </li> *@
                                                        <li>
                                                            <a href="#">
                                                                Government Order
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://rtionline.up.gov.in/" target="_blank">
                                                                RTI
                                                            </a>

                                                        </li>

                                                        <li>
                                                            <a class="dropdown-item" href="~/home/Event">Gallery</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="~/STPBillingReport/login">Login</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item dropdown-toggle" href="#">Contact Us</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="~/home/OfficeOfDirectorateOCOP">Office of Directorate OCOP</a></li>
                                                                <li><a class="dropdown-item" href="~/home/MinistryAndSecretariat">Ministry and Secretariat</a></li>

                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                                <i class="fas fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            <marquee width="100%" direction="Left" onmouseover="this.stop();" onmouseout="this.start();" class="marque_news">
                <span> स्वच्छ उत्तर प्रदेश, स्वस्थ उत्तर प्रदेश | </span>
                <span> स्‍वच्‍छ रहेंगे तो स्‍वस्‍थ रहेंगे । </span>
                <span>
                    उत्तर प्रदेश सरकार का इरादा,
                    सम्पूर्ण स्वच्छता का वादा
                </span>

            </marquee>
            @RenderBody()
        </div>
        <footer id="footer">
            <div class="container">

                <div class="row py-3 my-3">
                    <div class="col-md-12 col-lg-12 mb-5 mb-lg-0">
                        <h5 class="text-3 mb-3 d-flex justify-content-center"><img alt="Logo" src="~/img/OCOP.svg" style="max-width:300px;"></h5>
                        <p class="text-center">This is the official website of One City One Operator Department, Lucknow, U.P, India. Content on this website is published and managed by Directorate of Urban and Local Bodies Uttar Pradesh. For any query regarding this website, please contact the <a href="">"Web Information Manager".</a></p>
                        <p class="mb-0"><a href="#" class="btn-flat btn-xs p-relative top-5"> </a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 justify-content-center d-flex">
                        <p class="text-center">
                            <b style="font-size:16px;color:black">Visitor Counter </b> <br />
                            <span id="SpnVisitors" class="counter"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container one-t py-1">
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                            @* <p>© Copyright 2023. All Rights Reserved.*@
                            <p>Design & Developed By Intense Technologies Limited</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Vendor -->
    <script src="~/vendor/plugins/js/plugins.min.js"></script>

    <script src="~/js/examples/examples.carousels.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>
    <script src="~/js/jquery.easy-ticker.min.js"></script>
    <script src="~/script/visitorcount.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var myET = $('.myTicker').easyTicker({
                direction: 'up',
                easing: 'swing',
                speed: 'slow',
                interval: 2000,
                height: 'auto',
                visible: 1,
                mousePause: true,
                autoplay: true,
                controls: {
                    up: '.up',
                    down: '.down',
                    toggle: '.toggle',
                    stopText: 'Stop !!!'
                },
                callbacks: {
                    before: function (ul, li) {
                        $(li).css('color', 'red');
                    },
                    after: function (ul, li) {
                    },
                    finish: function (a) {
                    }
                }
            }).data('easyTicker');
            var ticker3 = $('.myTicker3').easyTicker().data('easyTicker');
            $('.up3').click(function () {
                ticker3.up();
            });
        });



    </script>

</body>
</html>