@{
    Layout = null;
    ViewData["Title"] = "Notauthorized";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>UP JAL-NIGAM</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    @* <link href="~/assets/css/bootstrap-icons.css" rel="stylesheet" />*@
    <!-- Morries chart CSS -->
    <!-- Custom CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/assets/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/assets/css/FormTab.css" rel="stylesheet">
    <link href="~/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js">
    </script>

    @*  datepicker*@
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    @*  end datepicker*@
    <script src="~/script/dateformat.js"></script>

    @* Added by SL000143 *@
    <!-- Include AngularJS -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css" rel="stylesheet" />
    <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>

    @* <script src="~/lib/angular/angular.min.js" asp-append-version="true"></script> *@

    <script src="~/app/layoutscript.js"></script>

    <link href="~/assets/plugins/datatables/fixedheader.bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/generatefirmbill.js"></script>
    <style>

        @@keyframes swing {
            0%, 100% {
                transform: rotate(-5deg);
            }

            20% {
                transform: scale(.95);
            }

            50% {
                transform: rotate(5deg);
            }

            80% {
                transform: scale(.95);
            }
        }

        #sweetlandia {
            animation: swing 10s infinite ease-in-out;
        }

        .event {
            margin: 10px auto;
            text-align: center;
        }

        .input-box {
            border-radius: 5px;
            border: 0.5px solid lightgray;
            padding: 4px;
            width: 100px;
        }

        .form {
            margin: 2% 20%;
        }

        .mul-select {
            min-width: 100%;
        }

        .dataTables_empty {
            text-align: center !important;
            /*color: orange !important;*/
            color: #856404;
            background-color: #fff3cd;
        }

        .badge-wrapper {
            position: relative;
        }

        .badge-1 {
            position: absolute;
            top: -14px;
            right: -11px;
            display: inline-block;
            border-radius: 50%;
            background-color: #443939;
            font-size: xx-small;
            padding: 5px;
        }


        ::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            cursor: pointer;
        }


        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 3px grey;
            border-radius: 3px;
        }


        ::-webkit-scrollbar-thumb {
            background: #21aee4;
            border-radius: 3px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #21aee4;
            }

        .zone-badge {
            max-width: 95px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .table td {
            white-space: nowrap !important;
        }
    </style>

</head>

<body class="fix-header fix-sidebar card-no-border" ng-app="LayoutApp" ng-controller="layoutController">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">


        <div class="text-wrapper event">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="~/assets/images/logo-text.png" alt="homepage" class="dark-logo" style="height:90px !important" />
                </a>
            </div><img id='sweetlandia' class="moveImage" src="~/assets/images/error_401.jpg" style="max-height:450px !important" />
            <br />
            <br />
            <center>
                <p class="text-black"> Oops, You don't have permission to access this page.</p>
                <a href="/Home/Login" class="btn btn-outline-warning"><i class="fa fa-arrow-left"></i> Go to login page </a>
            </center>
        </div>
    </div>

    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/assets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <script src="~/js/custom.js"></script>
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- sparkline chart -->

    <script>
        $(document).ready(function () {
            if ($('.toastsuccess').is(':visible')) {
                var msg = $('#Toastmsg').html()
                fShowToast(msg);
            }
            if ($('.toasterror').is(':visible')) {
                var errormsg = $('#Toasterrormsg').html()
                fShowToasterror(errormsg)
            }
        });
        $(document).ready(function () {
            fNotification()
            $(".mul-select").select2({
                placeholder: "--select--",
                tags: true,
            });

        });
    </script>
    <script>
        function generateRandomNumber() {
            let minm = 100000;
            let maxm = 999999;
            return Math.floor(Math
                .random() * (maxm - minm + 1)) + minm;
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;
        }
    </script>
</body>
</html>


<style>
    *, *:before, *:after {
        box-sizing: border-box;
    }

    html {
        height: 100%;
    }

    body {
        font-family: 'Raleway', sans-serif;
        background-color: transparent;
        height: 100%;
        padding: 10px;
    }

    a {
        color: #000000 !important;
        text-decoration: none;
    }

        a:hover {
            color: #000000 !important;
            text-decoration: none;
        }

    .text-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 5em;
        font-weight: 700;
        color: #000000 !important;
    }

    .subtitle {
        font-size: 40px;
        font-weight: 700;
        color: #000000 !important;
    }

    .isi {
        font-size: 18px;
        text-align: center;
        margin: 30px;
        padding: 20px;
        color: #000000;
    }

    .buttons {
        margin: 30px;
        font-weight: 700;
        border: 2px solid #000000;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: #000000;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        .buttons:hover;
    }

    {
        background-color: #EE4B5E;
        color: white;
        transition: all 0.2s ease-in-out;
    }
</style>










