﻿@{
    ViewData["Title"] = "MoM";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor">MoM</h3>

        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body pb-20">
                <div class="table-responsive">
                    <table class="table table-striped footable">
                        <thead>
                            <tr>
                                <th>Sn</th>
                                <th><b>Letter No.</b></th>
                                <th class="date"><b>Meeting Date</b></th>
                                <th class="detaildd"><b>Download MoM</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    538/2/OM & M Cell/2022 - 23
                                    <img src="~/img/new.gif" alt="New">
                                </td>
                                <td class="date">28-06-2023</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom-28.06.2023.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    513/2/OM & M Cell/2022 - 23
                                    <img src="~/img/new.gif" alt="New">
                                </td>
                                <td class="date">31-03-2023</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom-31.03.2023.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    493/2/OM & M Cell/2022 - 23

                                </td>
                                <td class="date"> 22-02-2023</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom-22.02.2023.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    462/2/OM & M Cell/2022 - 23

                                </td>
                                <td class="date">22-11-2022</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom-22.11.2022.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    441/2/OM & M Cell/2022 - 23

                                </td>
                                <td class="date"> 24-08-2022</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom-24.08.2022.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    376/2/OM & M Cell/2021 - 22

                                </td>
                                <td class="date"> 22-06-2022</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom dt- 22.06.2022.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    334/2/OM & M Cell/2021 - 22

                                </td>
                                <td class="date"> 07-03-2022</td>

                                <td class="detaildd">
                                    <a href="~/pdf/mom-07.03.2022.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>
                                    291/2/OM & M Cell/2021 - 22

                                </td>
                                <td class="date">14-12-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/mom 14.12.2021.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>
                                    241/2/OM & M Cell/2021 - 22

                                </td>
                                <td class="date">26-10-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/11.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>
                                    243/2/OM & M Cell/2021 - 22

                                </td>
                                <td class="date">23-10-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/mom dt. 23.10.2021.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>
                                    207/2/OM & M Cell/2021 - 22

                                </td>
                                <td class="date">16-08-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/mom-16.08.2021.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>
                                    DC58002

                                </td>
                                <td class="date">18-05-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/111.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>
                                    155/02/OM & M Cell/2021 - 22

                                </td>
                                <td class="date">30-04-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/121.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>
                                    117(2)/02/OM & M Cell/2021 - 22

                                </td>
                                <td class="date">02-02-2021</td>
                                <td class="detaildd">
                                    <a href="~/pdf/91.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>
                                    83/02/OM & M Cell/2020 - 21

                                </td>
                                <td class="date">22-12-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/81.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>
                                    70/02/OM & M Cell/2020 - 21

                                </td>
                                <td class="date">02-11-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/71.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>
                                    50/02/OM & M Cell/2020 - 21

                                </td>
                                <td class="date">27-08-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/61.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>18</td>

                                <td>
                                    32/02/OM & M Cell/2020 - 21

                                </td>
                                <td class="date">26-06-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/51.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>19</td>

                                <td>
                                    22/02/OM & M Cell/2020 - 21

                                </td>
                                <td class="date">20-05-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/41.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>
                                    08/02/OM & M /2019 - 20

                                </td>
                                <td class="date">23-03-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/31.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>21</td>
                                <td>
                                    01/OM & M /Package-4, Lucknow/2019 - 20

                                </td>
                                <td class="date">10-02-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/21.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>22</td>
                                <td>
                                    Letter No-623 & MoM

                                </td>
                                <td class="date">10-02-2020</td>
                                <td class="detaildd">
                                    <a href="~/pdf/LetterNo623_MoM.pdf" target="_blank">
                                        <img width="40" src="~/img/pdf.png">
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

